<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.serval.servalmaps.fieldtracer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="org.servalproject.rhizome.ADD_FILE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.serval.servalmaps.fieldtracer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.serval.servalmaps.fieldtracer.TraceActivity"
            android:label="@string/title_activity_trace"
            android:parentActivityName="org.serval.servalmaps.fieldtracer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fieldtracer.MainActivity" />
        </activity>
        <activity
            android:name="org.serval.servalmaps.fieldtracer.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.serval.servalmaps.fieldtracer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fieldtracer.MainActivity" />
        </activity>
        <activity
            android:name="org.serval.servalmaps.fieldtracer.ToolsActivity"
            android:label="@string/title_activity_tools"
            android:parentActivityName="org.serval.servalmaps.fieldtracer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fieldtracer.MainActivity" />
        </activity>
        <activity
            android:name="org.serval.servalmaps.fieldtracer.ShareActivity"
            android:label="@string/title_activity_share"
            android:parentActivityName="org.serval.servalmaps.fieldtracer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fieldtracer.MainActivity" />
        </activity>
        <activity
            android:name="org.serval.servalmaps.fieldtracer.ComparemapsActivity"
            android:label="@string/title_activity_comparemaps"
            android:parentActivityName="org.serval.servalmaps.fieldtracer.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.serval.servalmaps.fieldtracer.SettingsActivity" />
        </activity>
    </application>

</manifest>